@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-black;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6d9de99;
  border-radius: 8px; 
 
}

::-webkit-scrollbar-track {
  background-color: #18181b;
}

.transparent-scroll::-webkit-scrollbar-track {
  background-color: #18181b00;
}
.transparent-scroll::-webkit-scrollbar-thumb {
  background-color: #18181b3b;
}

.none{
  transition: load 2s ease infinite;
}
@media(max-width:600px){
  .resp{
    width: 100px;
    height: 160px;
  }
}
@keyframes load{
  0%{
    background-color: black;

  }
  50%{
    background-color: rgb(72, 71, 71);
  }
  100%{
    background-color: black;
  }
}